.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.title1{
    margin-top: 5px;
    margin-bottom: 20px;
}
.img{
    width: 100%;
}
.full{
    list-style-type: none;
}
.summary{
    margin-bottom: 30px;
}
.rating{
    margin-top: 5px;
    color: brown;
}
.div{
    margin-bottom: 120px;
    
}
.span{
    color: gray !important;
}
@media only screen and (max-width: 768px) {
    .rating {
        margin-bottom: 30px !important;
    }
    .centerSm {
        text-align: center;
    }
}