.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.title1{
    margin-top: 10px;
    margin-bottom: 15px;
}
.img{
    width: 100%;
}
.full{
    list-style-type: none;
}
/* .list{
    margin-bottom: 0px !important;
} */
