.title {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.name{
    padding-bottom: 0px !important;
}
.card{
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 600;
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}