.wrapper{
    padding: 0px !important;
}
.header{
    height: 130px;
}
.title{
    font-size: 50px !important;
}
@media only screen and (max-width: 492px) {
    .header {
      height: 155px;
    }
    .content{
        justify-content: center !important;
    }
    .form{
        width: 100%;
    }
  }
  .content{
      display: block !important;
      text-align: -webkit-center;
  }
  .title{
      color: #fff;
      text-align: center;
      padding-top: 10px;

  }
  .linkTitle:hover{
    text-decoration: none;
  }
  .form{
      width: 60% !important;
  }
  .position{
    position: absolute;
    left: 25%;
    z-index: 1;
    width: 50%;
  }
  .linkSearch{
      color: black;
  }
  .linkSearch:hover{
      text-decoration: none;
  }
  .card{
      border-bottom: none !important;
      border-radius: none !important;
      text-align: start;
  }
  .body{
      display: flex;
  }
  .img{
      margin-right: 30px;
  }
  .name{
      padding-top: 10px;
  }