.wrapper {
    padding: 0px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header {
    height: 130px;
}
.title {
    font-size: 50px !important;
}

.content {
    display: block !important;
    text-align: -webkit-center;
}
.title {
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
.linkTitle:hover {
    text-decoration: none;
}
