.wrapper{
    padding: 0px !important;
}
.header{
    height: 80px;
}
.title{
    font-size: 50px !important;
}
@media only screen and (max-width: 492px) {
    .header {
      height: 155px;
    }
    .center{
        justify-content: center !important;
    }
    .form{
        width: 100%;
    }
  }